__pycache__
data/habitats/*.csv
!data/habitats/Zona-0_Las_Hoyas-C1.csv
!data/habitats/Zona-1_Cache_River-C1.csv
!data/habitats/Zona-2_Cienaga_Lerma-C1.csv
!data/habitats/Zona-3_Abras_Mantequilla-C1.csv
!Zona-0_Las_Hoyas-C1_wrong_format_in_header.csv
!Zona-0_Las_Hoyas-C1_non_float_values.csv
!Zona-0_Las_Hoyas-C1_wrong_format.csv
venv
data/graphs/*.png
data/metrics/*metrics